html {
	background: #111;
	color: silver;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.form-inline {  
	display: flex;
	justify-content: left;
	margin-bottom: 0px;
}

#subForm {
	margin-top: 10px;
	margin-bottom: 10px;
}

.opDiv {
	display: flex;
	justify-content: left;
}

#sel {
	margin-left: 93px;
	width: 200px;
}

#bingoNameInput {
	width: 200px;
}

.opButton {
	width: 70px;
}

.form-inline label {
	margin: 3px;
}

.form-inline input {
	margin: 3px;
	flex: 1 1 auto;
	min-width: 0
}

.form-inline button {
	background-color: FireBrick;
	color: white;
	cursor: pointer;
	margin-left: 10px;
}

.form-inline button:hover {
	background-color: DarkRed;
}

#subForm button {
	background-color: DodgerBlue;
}

#subForm button:hover {
	background-color: RoyalBlue;
}

#opText {
	margin-left: 10px;
}

.squareDiv {
	width: 20%;
	align-items: center;
    display: flex;
}

.descDiv {
	width: 50%;
	align-items: center;
    display: flex;
}

.colorDiv {
	width: 15%;
	align-items: center;
    display: flex;
}